*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.box h1{
    align-items: center;
    display: flex;
    justify-content: center;
}